.wbdv-sticky-nav-bar {
  background-color: lightblue;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.wbdv-nonesticky-nav-bar {
  background-color: lightblue;
  padding: 10px;
  width: 100%;
  z-index: 1;
}


.test {
  background-color: lightblue;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.th {
  position: sticky;
}

.container {
  padding-top: 75px;
}
